/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}
/* REGOLE HEADER */
header {
    width: 100%;
    background-color: rgba(180,208,231,255);
    /* DEBUG */
    min-height: 300px;
}

/* regole nav */
nav {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 70px;
    width: 100%;
}

nav ul {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
    list-style-type: none;
}

nav ul a {
    color: black;
}

#nav-ul-left {
    margin-left: 10px;
}

#nav-ul-right {
    margin-right: 10px;
    justify-content: flex-end;
}

#little-button {
    width: 15%;
}

#inizia {
    color: white;
}

/* regole head banner */
#head-banner {
    width: 70%;
    margin: 40px auto 0px auto ;
    padding-top: 70px;
}

#head-banner h1 {
    text-align: center;
    font-size: 80px;
    margin-bottom: 30px;
}

#banner-flex-container {
    display: flex;
    /* DEBUG */
    min-height: 200px;
}

/* regole banner left */
#banner-left-item {
    width: 35%;
    /* DEBUG */
}

#banner-left-item p {
    margin-bottom: 40px;
}
#banner-button {
    width: 50%;
    margin-bottom: 40px;
}

#arrow-down {
    font-size: 50px;
}

#arrow-down a {
    color: black;
}

/* regole banner right */
#banner-right-item {
    width: 65%;
    /* DEBUG */
}

#banner-right-item img {
    max-width: 100%;
}

/* /FINE REGOLE HEADER */



/* REGOLE MAIN */

/* regole piani tariffari */
#plans {
    width: 60%;
    margin: 70px auto 0px auto;
}

#plan-title {
    font-size: 30px;
    margin-bottom: 70px;
}
#radio-flex-container {
    width: 40%;
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

/* .facture::before {
    content: ' \2299';
} */

#plans-flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.plan-box {
    width: 30%;
    border: solid 2px rgba(236,236,237,255);
    /* DEBUG */
}

.plan-type {
    text-align: center;
    padding: 5px;
    border-bottom: solid 2px rgba(236,236,237,255);
}

.plan-box-inside-container {
    width: 80%;
    margin: 20px auto 0px auto;
}

.plan-box-inside-container h2 {
    margin-bottom: 10px;
}

.plan-price {
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-price-contact {
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-price::before {
    content: ' \20AC';
}

.plan-duration {
    color: rgba(189,158,156,255);
    margin-bottom: 40px;
}

.plan-details-list {
    list-style-type: none;
    margin-bottom: 40px;
    min-height: 160px;

}

.plan-details-list li {
    margin-bottom: 10px;
}

.plan-button-try {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 8px;
    text-align: center;
}

.plan-button-try a {
    color: white;
}

.plan-buy-now {
    width: 100%;
    padding: 40px 0px 40px 0px;
    position: relative;
    margin-bottom: 40px;
}

.plan-buy-now a {
    text-decoration: underline;
}

.plan-buy-now-border {
    position: absolute;
    width: 15%;
    left: 0px;
    bottom: 0px;
    border-bottom: solid 2px rgba(236,236,237,255);;
}

.plan-feature-title {
    margin-bottom: 30px;
}